<p>
  login works!
</p>
<div>
  <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" required [(ngModel)]="loginData.username" name="username" #username="ngModel" id="user-login-username"
        placeholder="Username" [readonly]="loading" required>
      <div class="inp-error" *ngIf="(username.dirty || username.touched) && !username.valid">
        Username is invalid.
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control auth-inp" id="name" [(ngModel)]="loginData.password" name="password" #password="ngModel"
        id="user-login-password" placeholder="Password" [readonly]="loading" required>
      <div class="inp-error" *ngIf="(password.dirty || password.touched) && !password.valid">
        Password is invalid.
      </div>
    </div>
    <button class="btn btn-primary btn-block btn-lg mt-2" type="submit" [disabled]="loading">Submit</button>
  </form>
</div>
