.edit-page {
  width: 500px;
  margin: auto;
  border: 1px solid rgb(172, 168, 168);
  border-radius: 4px;
  background-color: #fff;
  margin: auto;
  padding: 10px;

  .image-cont {
    margin-top: 10px;
    text-align: center;
  }

  .btn-cont {
    margin-top: 10px;
  }
}
