.app-header {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background-color: greenyellow;
  position: fixed;
}

.app-body {
  padding-top: 60px;
}

.app-header a,
.app-header a:visited {
  color: #000;
  text-decoration: none;
  padding: 16px 5px;
  display: block;
  float: right;
}

.app-header a.home-link {
  float: left;
}
