<div class="app-header">
  <div class="header-cont">
    <a class="app-logo" (click)="goToHome()">Twoter</a>

    <button *ngIf="loggedId" type="button" class="btn btn-outline-success logout-btn" (click)="logout()">logout</button>

    <a #userLink href="#" *ngIf="loggedId && user" class="user-link" (click)="userLinkClick()">
      <span class="user-link-cont">
        <img [src]="imageUrl" width="25" />
        <span class="header-user-name">{{ user.firstName }} {{ user.lastName }}</span>
      </span>
    </a>

    <app-notification-info></app-notification-info>
  </div>
</div>

<div #dropdownCont class="dropdown-content">
  <div class="user-info">
    <div>
      <b>{{ user?.firstName }}</b>
    </div>
    <div>
      <span>@{{ user?.username }}</span>
    </div>
  </div>
  <div class="dropdown-btns">
    <div class="item" (click)="goToProfile()">profile</div>
    <div class="item" (click)="goToSettings()">settings</div>
  </div>
</div>

<div class="app-body">
  <router-outlet></router-outlet>
</div>