<div class="update-item">
  <div *ngIf="update.user">
    {{ update.user.firstName }} {{ update.user.lastName }}
  </div>
  <div class="update-content" style="white-space: pre-line;" [innerHTML]="update.content" (click)="tagClick($event)"></div>
  <div>
    {{ likesCount }}
    <a href="#" (click)="like()">{{ likeText }}</a>
    {{ commentsCount }}
    <a href="#" (click)="comment()">comment</a>
  </div>
  <app-comments *ngIf="showComments" [comments]="comments" [updateId]="update.id" (commentAdded)="commentAdded($event)"></app-comments>
</div>
