<div class="comment-item">
  <div>
    <img src="{{ imageUrl }}" width="30" height="30" style="vertical-align: middle;" />
    <a href="#" class="user-link" (click)="viewUser()">{{ comment.user.firstName }} {{ comment.user.lastName }}</a>
    <span class="posted-ago">- {{ comment.createdAt | timeAgo }}</span>
  </div>
  <div class="comment-content">
    {{ comment.content }}
  </div>
  <div>
    {{ likes }}
    <a class="action-button" href="#" (click)="like()">{{ likeText }}</a>
  </div>
</div>