.comment-item {
    border: 1px solid #dbdde0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;

    .comment-content {
        padding: 5px 0px;
    }
}
